// Colors
// Primary
$primary-main: #bebebe;
$primary-light: #f1f1f1;
$primary-dark: #545454;

// Secondary
$secondary-main: #aceaed;
$secondary-light: #e4fcfc;
$secondary-dark: #a5ccce;

// Base
$base-light: #ffffff;
$base-dark: #000000;
